#candidates
  .row
    .span8
      .can1.candidate
        %h2.name= @candidate1.name
        - if @candidate1.is_incumbent
          %span.label.important.name INCUMBENT
    .span8
      .can2.candidate
        %h2.name= @candidate2.name
        - if @candidate2.is_incumbent
          %span.label.important.name INCUMBENT
  .row.bios
    .span8
      .can1.candidate
        %img.portrait{:src => @candidate1.photo }/
        .bio
          %p= @candidate1.bio
        .contact
          %ul.unstyled
            %li
              %a{:href => @candidate1.website, :target => "_blank"}= @candidate1.website
            %li= mail_to @candidate1.email
            %li= number_to_phone(@candidate1.phone, :area_code => true)
    .span8
      .can2.candidate
        %img.portrait{:src => @candidate2.photo}/
        .bio.can2
          %p= @candidate2.bio
        .contact
          %ul.unstyled
            %li
              %a{:href => @candidate2.website, :target => "_blank"}= @candidate2.website
            %li= mail_to @candidate2.email
            %li= number_to_phone(@candidate2.phone, :area_code => true)
.row
  .span16
    .collapse-expand
      %p Collapse
.row
  .span4.feeds
    %ul.tabs{:data => {:tabs => 'tabs'}}
      %li.active
        %a{:href=>'#candidate-1-feed'} Feed
      %li
        %a{:href => '#candidate-1-endorsements'} Endorsements
    .tab-content
      #candidate-1-feed.socialmedia.active
        - @candidate1.feed.each do |post|
          .post
            %p= auto_link(post.message).html_safe
            %p.source= post.source.capitalize
      #candidate-1-endorsements.endorsements
        - @candidate1.endorsements.each do |post|
          .post
            %p= auto_link(post.message).html_safe
            %p.source= post.source.capitalize
  .span8
    #news.news
      %h2 News
      - @position.articles.each do |article|
        .story
          %h3= link_to(article.title, article.url)
          %p.source= article.source
          %p= article.snippet
          - article.candidates.each do |c|
            - if c.id == @candidate1.id
              %span.label.notice= c.name
            - else
              %span.label.success= c.name
  .span4.feeds
    %ul.tabs{:data => {:tabs => 'tabs'}}
      %li.active
        %a{:href=>'#candidate-2-feed'} Feed
      %li
        %a{:href => '#candidate-2-endorsements'} Endorsements
    .tab-content
      #candidate-2-feed.socialmedia.active
        - @candidate2.feed.each do |post|
          .post
            %p= auto_link(post.message).html_safe
            %p.source= post.source.capitalize
      #candidate-2-endorsements.endorsements
        - @candidate2.endorsements.each do |post|
          .post
            %p= auto_link(post.message).html_safe
            %p.source= post.source.capitalize
