%ul.breadcrumb
  %li
    %a{:href => '/'} MetroVote
    %span.divider /
  %li
    %a{:href => '/positions'} Seattle City Council
    %span.divider /
  %li
    = @position.title
.container
  .content
    .row
      .span6
        #can1.candidate
          %h1= @candidate1.name
          .contact
            %p
              %a{:href => @candidate2.website, :target => "_blank"} Campaign Page
              |
              = mail_to @candidate1.email, "Email"
              |
              = @candidate1.phone
          %img.portrait{:src => @candidate1.photo }/
          .bio
            %p= @candidate1.bio
          .socialmedia
            %h2 Feed
            - @candidate1.tweets.each do |tweet|
              %p= auto_link(tweet.text).html_safe
      .span4
        #news.news
          - @position.candidates.each do |candidate|
            - candidate.articles.each do |article|
              .story
                %h3= link_to(article.title, article.url)
                %p.source= article.source
                %p= article.snippet
      .span6
        #can2.candidate
          %h1= @candidate2.name
          .contact
            %p
              %a{:href => @candidate2.website, :target => "_blank"} Campaign Page
              |
              = mail_to @candidate2.email, "Email"
              |
              = @candidate2.phone
          %img.portrait{:src => @candidate2.photo}/
          .bio.can2
            %p= @candidate2.bio
          .socialmedia
            %h2 Feed
            - @candidate2.tweets.each do |tweet|
              %p= auto_link(tweet.text).html_safe
