<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @election.title %>
</p>

<p>
  <b>Location:</b>
  <%= @election.location %>
</p>

<p>
  <b>Keyword:</b>
  <%= @election.keyword %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
