<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @candidate.bio %>
</p>

<p>
  <b>Photo:</b>
  <%= @candidate.photo %>
</p>

<p>
  <b>Website:</b>
  <%= @candidate.website %>
</p>

<p>
  <b>Email:</b>
  <%= @candidate.email %>
</p>

<p>
  <b>Position:</b>
  <%= @candidate.position %>
</p>

<p>
  <b>Twitter:</b>
  <%= @candidate.twitter %>
</p>

<p>
  <b>Facebook:</b>
  <%= @candidate.facebook %>
</p>

<h3>Tweets</h3>
<table>
  <tr><th>Date</th><th>Tweet</th></tr>
<% @candidate.tweets.each do |c| %>
  <tr>
    <td><%= c.created %></td>
    <td><%= auto_link(c.text).html_safe %></td>
<% end %>
</table>

<h3>Articles</h3>
<table>
  <tr><th>Date</th><th>Title</th><th>URL</th><tr>
<% @candidate.articles.each do |a| %>
  <tr>
    <td><%= a.date %></td>
    <td><%= a.title %></td>
    <td><%= auto_link(a.url).html_safe %></td>
  </tr>
<%end%>
</table>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
