<!DOCTYPE html>
<html>
<head>
  <title>Metrovote</title>
  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %>
  <%= javascript_include_tag "bootstrap-dropdown.js" %>
  <%= csrf_meta_tag %>
</head>
<body> <!--- MV TOP BAR COMMENTED OUT 10/16, breadcrumb only
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/positions">MetroVote</a>
      </div>
    </div>
  </div> --->
<%= yield %>

</body>
</html>
